$white: #ffffff;
$background: #e0e8ff;
$red: #ff4332;
$cyan: #43a6ff;
$green: #45ff39;
$light-blue: #446ef2;
$blue: #667194;
$gray: #808080;
$black: #000000;
$dark-gray: #667194;
$light-dark: #101010;
